# Logs
*.log
logs/

# Suricata logs
/var/log/suricata/
/var/log/snort/

# Temporary files
*.tmp
*.swp
*.bak

# System files
.DS_Store
Thumbs.db

# Kali / Linux cache
*.cache

# PCAP files (optional - dacă ai capturi mari)
*.pcap

# Rule backups
*.rules.save

# Wireshark captures
*.cap
